
.hero-container{
    background-image: url('/assets/img/hero-image.png');
    background-size: cover;
    background-repeat: no-repeat; 
    height: calc(100vh - 80px); 
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
}
.hero-text {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
.hero-container button{
  margin-left: 5%;
}

.img-fixed {
  width: 140px;
  height: 160px;
  object-fit: cover; 
  border-radius: 10px;
}
.img-card{
  width: 100%;
  height: 400px;
}
.ht{
  height: 200px;
}


  @media screen and (max-width: 768px) {
    .hero-text {
      font-size: 2rem;
    }
   
  }

