
<app-navbar (scrolltoDiv) ="scrollTo($event)"></app-navbar>

<div   class="hero-container d-flex flex-column justify-content-center align-items-center text-white" id="home">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-text text-center">
            For Real Life. Real life happens every day.Don't face it alone.
        </div>
        <button class="sm-button2 mt-3" routerLink="/register">Register For Dew Of Hermon</button>
    </div>

</div>
<div class="container-fluid px-3 mt-5" id="mission">
    <div class="mandate-section text-center mt-5">
        <h2 class="mb-2">Our Mission</h2>
        <h4 class="mandate-title">Fanning Youth into Flame for Christ</h4>
        <div class="row text-center">
            <div class="col-md-4" *ngFor="let item of mission">
                <div class="card border-0">
                    <img [src]="item.image" class="card-img-top mx-auto img-fixed" alt="Mission 3">
                    <div class="card-body">
                        <p class="card-text">
                           {{item.text}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Events Section -->
<div class="event text-center mt-5" id="event">
    <div class="header">
        <h1>Upcoming CYFI Events</h1>
    </div>
    <div class="row"> 
        <div class="col-md-4 mb-4" *ngFor="let item of event">
            <div class="card border-0 shadow-sm p-3 h-100 d-flex flex-column">
                <img [src]="item.image" class="card-img-top img-card" alt="Event">
                <div class="card-body d-flex flex-column align-items-start justify-content-start">
                    <h4 class="card-title">{{item.program}}</h4>
                    <h6 class="card-text">{{item.theme}}</h6>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> {{item.venue}}</p>
                    <p class="card-text">  <i class="fas fa-calendar-alt"></i> {{item.date}}</p>
                  <div *ngIf="item.isRegister">
                    <button class="btn btn-primary" routerLink="/register">{{item.register}}</button>
                  </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid px-3"> 
    <div class="text-center mt-5">
        <div class="row d-flex justify-content-center"> 
            <div class="col-md-6 col-lg-5 d-flex"> 
                <div class="card border-0 shadow-sm w-100 d-flex flex-column"> 
                    <img src="/assets/img/card-img.png" class="card-img-top" alt="Our Vision">
                    <div class="card-body d-flex flex-column">
                        <h2 class="card-title">Our Vision</h2>
                        <p class="card-text flex-grow-1">
                            Building youths who love the Lord their God and are devoted to serving Him in true godliness and uprightness.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 d-flex"> 
                <div class="card border-0 shadow-sm w-100 d-flex flex-column">
                    <img src="/assets/img/cyfi.png" class="card-img-top" alt="About Us">
                    <div class="card-body d-flex flex-column">
                        <h2 class="card-title">About Us</h2>
                        <p class="card-text flex-grow-1">
                            The Central Youth Fellowship International (CYFI) is the coordinating authority of the youth ministry of Christ Apostolic Church of God Mission Int.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<app-footer></app-footer>  
</div>


