.bground{
    background-color: #8E8D8D;
}

.logo_social{
padding-left: 88px;
}
.logo_image img{  
    width: 70px;
    height: 70px;
}
.socials{
    margin-top: 32px;
}
.socials img{
    padding-right: 20px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 88px;
}
.home{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    padding: 0px 24px;
}

.logo_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 56px 0px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
li{
    padding: 10px 15px;
}
.divider{
    display: flex;
    justify-content: center;
    border-top: 1px solid #333;
    padding:40px 0px ;
}
.divider img{
    height: 12px;
    width: 12px;
    padding-top: 2.5px;
    padding-right: 3px;
}
.fa-regular{
    line-height:24.5px
}
@media screen and (max-width: 768px) {

    .container{
        background-color: #8E8D8D;
        padding: 32px 30px;
        margin: 0px;
    }
    .home{
        padding: 0px;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 30px;
    }
    .logo_content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
       
    }
    .logo_social{
        padding-left: 20px;
    }
    .divider{
        margin: 0px 20px;
    }
  }