<footer class="container-fluid  text-light py-4 bground">
    <div class="container mt-4">
        <div class="row text-center text-md-start align-items-center">
            <!-- Logo & Social Media -->
            <div class="col-md-4 mb-3 mb-md-0 d-flex flex-column align-items-center align-items-md-start">
                <div class="logo_image">
                    <img src="assets/img/logo.png" alt="Logo" class="img-fluid mb-2" style="width: 70px; height: 70px;">
                    <p class="mb-2">Building Kingdom Generals</p>
                </div>
                <div class="socials d-flex gap-3">
                    <i class="fa-brands fa-whatsapp fa-2x" style="width: 40px;"></i>  
                    <i class="fa-brands fa-instagram fa-2x" style="width: 40px;"></i>  
                    <i class="fa-brands fa-facebook fa-2x" style="width: 40px;"></i>  
                    <i class="fa-brands fa-twitter fa-2x " style="width: 40px;"></i> 
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <ul class="list-unstyled">
                            <li>HOME</li>
                            <li>ABOUT</li>
                            <li>EVENT</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <ul class="list-unstyled">
                            <li>MISSION</li>
                            <li>CONTACT</li>
                            <li>SUPPORTS</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <ul class="list-unstyled">
                            <li>HISTORY</li>
                            <li>BELIEF</li>
                            <li>PATRONS</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-3">
                        <ul class="list-unstyled">
                            <li>TEACHING</li>
                            <li>BLOG</li>
                            <li>JUSTICE</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright Section -->
        <div class="divider text-center mt-5">
            <i class="fa-regular fa-copyright"></i>
            <span class="ms-2">2025</span>
        </div>
    </div>
</footer>
