<nav class="navbar navbar-expand-lg bg-white shadow-sm fixed-top">
    <div class="container d-flex justify-content-between align-items-center">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" alt="Logo" height="50">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <img src="assets/img/icon.png" alt="Menu Icon" height="40">
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav d-flex gap-4">
                <li class="nav-item"><a class="nav-link" routerLink="/" (click)="scrollTo('home')">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/">About</a></li>
                <li class="nav-item" style="cursor: pointer;"><a class="nav-link" (click)="scrollTo('mission')">Mission</a></li>
                <li class="nav-item" style="cursor: pointer;"><a class="nav-link" (click)="scrollTo('event')">Event</a></li>
            </ul>
        </div>
        <button class="sm-button d-none d-lg-block" routerLink="/register">DOH REGISTRATION</button>
    </div>
</nav>


