/* You can add global styles to this file, and also import other style files */


body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.sm-button{
    padding:10px 20px;
    font-size: 14px;
    font-weight: 400; 
    border-radius: 8px;
    /* border: none; */
    color: black;
    border: 1.5px solid #EFCC33;
    background-color: #Fff;
}
.sm-button1{
    padding:10px 20px;
    font-size: 14px;
    font-weight: 400; 
    border-radius: 8px;
    color: #fff;
    border: none;
    background-color: #0d9009;
}
.sm-button2{
    padding:12px 24px;
    font-size: 18px;
    font-weight: 400; 
    border-radius: 8px;
    color: #fff;
    border: none;
    background-color: #EFCC33;
}

.sm-button1:disabled{
    padding:10px 20px;
    font-size: 14px;
    font-weight: 400; 
    border-radius: 8px;
    color: #fff;
    border: none;
    background-color: #7ab378;
}
.lg-button{
    padding:16px 48px;
    font-size: 24px;
    font-weight: 400; 
    border-radius: 8px;
    color: #fff;
    border: none;
    /* border: 1.5px solid #fff; */
    background-color: #EFCC33;
    z-index: 2;
}
.button1{
    padding:10px 20px;
    font-size: 18px;
    font-weight: 400; 
    border-radius: 8px;
    border: none;
    color: black;
    /* background-color: #FD010C; */
}
li{
    list-style: none;
}
.sm-button:hover{
    background-color: #EFCC33;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
